# ignore obsidian directory
.obsidian/

# ignore local-only files
local-only/

# ignore fast-note and todo inside main directory
fast-note.md
todo.md

# ignore any pasted images inside main directory
Pasted image *.png
